name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: astral-sh/setup-uv@v6
      - run: uv sync

      - uses: astral-sh/ruff-action@v3

      - run: ruff format --check --diff

      - run: uv run pyright

      - run: uv run pytest
